* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

$primary-color: #ed6436;

header {
  display: flex;
  justify-content: space-between;
  box-shadow: 3px 2px 10px rgb(181, 179, 179);
}
main {
  display: flex;
  justify-content: space-between;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  margin-top: 5rem;
}
nav,
.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 0px;
  margin-right: 1.5rem;
}
section {
  display: flex;
  justify-content: space-evenly;
}
.photo {
  border-radius: 35px;
}
h1 {
  color: $primary-color;
  font-size: 1.2rem;
}
p {
  font-size: 3rem;
}
main {
  display: flex;
  flex-direction: column;
}
main > div {
  display: flex;
  justify-content: space-between;
}
.view {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  margin-left: 2.4rem;
  margin-right: 2.4rem;
}
